.gradientMesh {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
}

.blob1,
.blob2,
.blob3 {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.3;
}

.blob1 {
  width: 500px;
  height: 500px;
  background: var(--primary-color);
  top: -250px;
  right: -250px;
}

.blob2 {
  width: 400px;
  height: 400px;
  background: var(--secondary-color);
  bottom: -200px;
  left: -200px;
}

.blob3 {
  width: 350px;
  height: 350px;
  background: var(--success-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dark .blob1,
.dark .blob2,
.dark .blob3 {
  opacity: 0.15;
}
