## [Start] Setting "status" to default value of "new". **
$util.qr($context.args.input.put("status", $util.defaultIfNull($ctx.args.input.status, "new")))
## [End] Setting "status" to default value of "new". **
{}