## [Start] Setting "featured" to default value of "false". **
$util.qr($context.args.input.put("featured", $util.defaultIfNull($ctx.args.input.featured, false)))
## [End] Setting "featured" to default value of "false". **
{}