## [Start] Setting "viewCount" to default value of "0". **
$util.qr($context.args.input.put("viewCount", $util.defaultIfNull($ctx.args.input.viewCount, 0)))
## [End] Setting "viewCount" to default value of "0". **
## [Start] Setting "featured" to default value of "false". **
$util.qr($context.args.input.put("featured", $util.defaultIfNull($ctx.args.input.featured, false)))
## [End] Setting "featured" to default value of "false". **
## [Start] Setting "published" to default value of "false". **
$util.qr($context.args.input.put("published", $util.defaultIfNull($ctx.args.input.published, false)))
## [End] Setting "published" to default value of "false". **
{}